{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}

{% bootstrap_messages %}
<h1>Se connecter</h1>

{% if error %}
<p><strong>Utilisateur inexistant ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
    <p> Vous êtes connecté, {{ user.username }} ! <a href="{% url 'logout' %}">Se déconnecter</a></p>

{% else %}
<form method="post" action=".">
       {% comment %} {% csrf_token %}
       {{ form.as_p }} {% endcomment %}
       {% if form %}
            {% if form.errors %}
                <ul class="errors">
                    {% for error in form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Display Form -->
            {% csrf_token %}
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">User name</label>
                {{ form.username}}
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="form2Example1">Password</label>
                {{ form.password}}           
            </div>
        {% endif %}

        <button type="submit"> Se connecter</button>
        {% comment %} {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Enregister
            </button>
        {% endbuttons %} {% endcomment %}
</form>
{% endif %}