
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        {% load static %}
        {% if user.avatar == "" %}
            <img src="{% static 'user/images/avatar.jpg' %}" alt="Avatar" style="width:30px;height:30px;">
        {% else %}
            <img src="{{user.avatar.url}}" style="width:30px;height:30px;">
        {% endif %}
        </br>
        {{ user.username }}
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Votre Profile</a></li>
      <li><a class="dropdown-item" href="#">Paramettre</a></li>
      <li><a class="dropdown-item" href="/user/logout">Se deconnecté</a></li>
    </ul>
</div>