{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>{{ category.name }}</h1>
        <p>{{ category.description }}</p>
        {% if category.image %}
            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="img-fluid">
        {% else %}
            <img src="{% static 'images/default-store.jpg' %}" alt="Default Image" class="img-fluid">
        {% endif %}
        <hr>
        <h2>Articles in this category:</h2>
        <div class="row">
            {% for article in articles %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if article.image %}
                            <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.name }}">
                        {% else %}
                            <img src="{% static 'images/default-store.jpg' %}" class="card-img-top" alt="Default Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ article.name }}</h5>
                            <p class="card-text">{{ article.description }}</p>
                            <a href="{% url 'shop:article_detail' article.id %}" class="btn btn-primary">Detail</a>
                            {% if user.is_authenticated and user == article.vendeur %}
                                <a href="{% url 'shop:update_article' article.id %}" class="btn btn-outline-secondary">Modifier</a>
                                <a href="{% url 'shop:delete_article' article.id %}" class="btn btn-outline-danger">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No articles in this category yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
