{% extends "shop/base.html" %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'ContacteNous' %}">Nous contacter</a></li>
</ul>
{% endblock %}

{% block contenue %}
    <h2>categories</h2>
    
        {% for categories in object_list %}

            {% if categories.image %}

                {% load static %}
                <img src= "{{ categories.image.url }}" >
                <a href="{{ categories.pk }}/article">{{ categories.nom }}</a>
                
            {% endif %}
            
        {% endfor %}

        {% include "shop/pagination.html" %}

{% endblock %}