{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon marché en ligne{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bibliothèques en lien CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-+z0hwmRt1Lz+GYdJGy0yo73xH2gh7f4q3uYdYemqe7VwLGOiNR92ZTjKs90QXB7odOefxh+d0ymVYzDdKf68A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Marché de Niamey</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'shop:shop_list' %}">Aller au Marché</a>
                </li>
                {% if user.is_authenticated %}
                {% with cart_items=request.user.cart.cartitem_set.all %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panier:cart_detail' %}">
                        <i class="fa fa-shopping-cart"></i> Mon panier
                        <span class="badge badge-pill badge-info">{{ cart_items.count }}</span>
                        </a>
                    </li>
                {% endwith %}

                {% endif %}

                {% load static %}

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username}} <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'user/images/avatar.jpg' %}{% endif %}" alt="Avatar" class="rounded-circle" height="30" width="30">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.fonction == 2 %}
                                <a class="dropdown-item" href="{% url 'commande:dashboard' %}">Tableau de bord Vendeur</a>
                                <a class="dropdown-item" href="{% url 'shop:vendor_dashboard' %}">Gérer la boutique</a>
                            {% elif user.fonction == 3 %}
                                <a class="dropdown-item" href="#">Tableau de bord Client</a>
                                <a class="dropdown-item" href="{% url 'commande:order_history' %}">Mes Commandes</a>
                            {% elif user.fonction == 4 %}
                                <a class="dropdown-item" href="#">Tableau de bord Livreur</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Modifier le profil</a>
                            <a class="dropdown-item" href="{% url 'user:logout' %}">Déconnexion</a>
                        </div>
                        
                    </li>
                {% endif %}


              </ul>
              
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:register' %}">Inscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:login' %}">Connexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container my-5" >
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
