{% extends "base.html" %}

{% block body %}
    <div class="mb-3 row d-flex justify-content-center">
        {% load static %}
        <img src="{% static 'images/marcher_Niamey.png' %}" alt="My image">
        <div class="col-sm-10">
            <form action="/search/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Go">
                <!-- <input type="text" class="form-control">
                <button>Go</button> -->
            </form>
        </div>
    </div> 
    {{list_article}}
{% endblock %}
